<!DOCTYPE html>
<html>
<head>
    <title>Mega Desk</title>
    <link href="~/Styles/MegaDesk.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Mega Desk</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year Mega Desk
        </div>
    </div>
</body>
</html>