@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "List Desks";

    var db = Database.Open("WebDesks");
    var selectCommand = "SELECT * FROM DeskQuote dq JOIN SurfaceMaterial sf ON dq.MaterialID = sf.ID";
    var searchTerm = "";

    if (!Request.QueryString["searchCustomer"].IsEmpty())
    {
        selectCommand = "SELECT * FROM DeskQuote dq JOIN SurfaceMaterial sf ON dq.MaterialID = sf.ID WHERE CustName LIKE @0";
        searchTerm = "%" + Request.QueryString["searchCustomer"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "CustName", rowsPerPage: 5);
}
 
<h2>List Desk Quotes</h2>
<form method="get">
    <div class="search">
        <label for="searchCustomer">Customer to look for:</label>
        <input type="text" name="searchCustomer" value="@Request.QueryString["searchCustomer"]" />
        <input type="Submit" value="Search Customer" /><br/>
    </div>
</form>

<div>
    @grid.GetHtml(
                tableStyle: "grid",
                headerStyle: "head",
                alternatingRowStyle: "alt",
                rowStyle: "row",
                columns: grid.Columns(
                    grid.Column("CustName", header:"Name"),
                    grid.Column("Width"),
                    grid.Column("Depth"),
                    grid.Column("Drawers"),
                    grid.Column("quoteDate", header:"Date", format:@<text>@item.quoteDate.ToString("MM/dd/yyyy")</text>),
                    grid.Column("TotalCost", header:"Cost"),
                    grid.Column("Type", header: "Material"),
                    grid.Column(format: @<a class="editButton" href="~/EditQuote?id=@item.ID">Edit</a>),
                    grid.Column(format: @<a class="deleteButton" href="~/DeleteQuote?id=@item.ID">Delete</a>)
                                            )
                                        )
</div>
<a class="button" href="~/AddQuote">Add a quote</a>