@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "List Desks";

    var db = Database.Open("WebDesks");
    var selectCommand = "SELECT * FROM DeskQuote";
    var searchTerm = "";

    if (!Request.QueryString["searchCustomer"].IsEmpty())
    {
        selectCommand = "SELECT * FROM DeskQuote WHERE CustName LIKE @0";
        searchTerm = "%" + Request.QueryString["searchCustomer"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "CustName", rowsPerPage: 5);
}
 
<h2>List Desk Quotes</h2>
<form method="get">
    <div>
        <label for="searchCustomer">Customer to look for:</label>
        <input type="text" name="searchCustomer" value="@Request.QueryString["searchCustomer"]" />
        <input type="Submit" value="Search Customer" /><br/>
    </div>
</form>

<div>
    @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
        grid.Column(format: @<a href="~/EditQuote?id=@item.ID">Edit</a>),
                grid.Column("CustName"),
                grid.Column("Width"),
                grid.Column("Depth"),
                grid.Column("Drawers"),
                grid.Column("QuoteDate"),
                grid.Column("TotalCost"),
                grid.Column(format: @<a href="~/DeleteQuote?id=@item.ID">Delete</a>)
                            )
                        )
</div>
<p><a href="~/AddQuote">Add a quote</a></p>
